.bg-primay{
    background-color: rgb(255, 26, 26) !important;
}

.img{
    max-width: 50%;
}
/* Estilo para las card */

.card{
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}

.card:hover{
    transform: translate(-5px);
    box-shadow: 0 10px 20px rbga(0,0,0,0,1);
}
    
